<div class="row">
  <div class="col-md-12 sub-header">
    <div class="col-md-10">
      <h1>{{fa-icon "cube"}} Applications</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-4 card">
      {{#link-to 'deployments.add' class="thumbnail text-center"}}
        {{fa-icon "plus" size="5"}}
        <div class="caption">
          <h3><strong>Add</strong></h3>
          <p>Add new applications</p>
        </div>
      {{/link-to}}
    </div>
    {{#each model as |deployment|}}
      <div class="col-md-4 card">
        {{#link-to 'clusters' class="thumbnail text-center"}}
          {{fa-icon "cube" size="5"}}
          <div class="caption">
            <h3><strong>{{deployment.name}}</strong></h3>
            <p>{{deployment.version.config.description}}</p>
          </div>
        {{/link-to}}
      </div>
    {{/each}}


  </div>
</div>

{{outlet}}
