<div class="row">
  <div class="col-md-12 sub-header">
    <div class="col-md-10">
      <p>{{fa-icon "database"}} All Repositories</p>
    </div>
    <div class="col-md-2 pull-right">
      {{#link-to "repositories.new" class="btn btn-block btn-success"}}{{fa-icon "plus"}} Add Repository{{/link-to}}
    </div>
  </div>
</div>

<div class="row collection-table">
  <div class="col-md-12 table-header">
    <div class="col-md-2">
      <strong>Name</strong>
    </div>
    <div class="col-md-5">
      <strong>Scan URL</strong>
    </div>
    <div class="col-md-2">
      <strong>Scan Status</strong>
    </div>
    <div class="col-md-2">
      <strong>Last Scanned At</strong>
    </div>
    <div class="col-md-1">
      <strong>Actions</strong>
    </div>
  </div>
  {{#each model as |registry|}}
    <div class="col-md-12 table-row">
      <div class="col-md-2">
        <strong>{{registry.name}}</strong>
      </div>
      <div class="col-md-5">
        {{registry.scanUrl}}
      </div>
      <div class="col-md-2">
        {{registry.scanStatus}}
      </div>
      <div class="col-md-2">
        {{moment-from-now registry.lastScannedAt hideSuffix=true}} ago
      </div>
      <div class="col-md-1 text-center">
        <div class="dropdown">
          <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{fa-icon "cog" size="lg"}}
          </a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            {{#unless registry.isRunning}}
              <li><a {{action "start" registry}}>{{fa-icon "play"}}&nbsp;&nbsp;&nbsp;Start Syncing</a></li>
            {{else}}
              <li><a {{action "stop" registry}}>{{fa-icon "stop"}}&nbsp;&nbsp;&nbsp;Stop Syncing</a></li>
            {{/unless}}

            <li role="separator" class="divider"></li>
            <li><a {{action "delete" registry}}>{{fa-icon "times"}}&nbsp;&nbsp;&nbsp;Delete Repository</a></li>
          </ul>
        </div>
      </div>
    </div>

  {{/each}}

</div>
{{outlet}}